<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <p *ngFor="let quote of quotes">
                {{ quote.text }} - {{ quote.source.name }}
            </p>

            <!-- if quotes empty then display a message, the '?' is the safe navigation operator -->
            <div *ngIf="quotes?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No quotes found.
            </div>

            <!-- pagination -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="row">
                                

                                <hr>
                                <ngb-pagination
                                [(page)]="pageNumber"
                                [pageSize]="pageSize"
                                [collectionSize]="totalElements"></ngb-pagination>

                                <div class="col-md-3 mt-2" style="text-align: right;">
                                    <span class="mr-2">Page Size:</span>

                                    <select #myPageSelect (change)="updatePageSize(+myPageSelect.value)">
                                        <option>5</option>
                                        <option selected="true">10</option>
                                        <option>20</option>
                                        <option>50</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>