<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <div class="container-fluid py-3">
                <table class="table table-bordered table-hover table-sm">

                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center" sortable="name" (sort)="onSort($event)">Quote</th>
                            <th scope="col" class="text-center" sortable="name" (sort)="onSort($event)">Source</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let quote of quotes; index as i">

                            <th scope="row">                                
                                {{ (pageNumber - 1) * pageSize + i + 1 }}
                            </th>
                            
                            <td *ngIf="quoteToEditId == quote.id" class="">
                                    <input id="edit-quote-input" #editInput type="text" class="au-input au-input-xl"
                                        placeholder="{{ quote.text }}">
                            </td>

                            <td *ngIf="quoteToEditId != quote.id" class="">
                                <div class="text-contaniner" [innerHtml]="quote.text| highlighter:searchTerm" ></div>
                            </td>

                            <td *ngIf="quoteToEditId != quote.id" class="text-center">
                                <div class="text-contaniner" [innerHtml]="quote.source == null ? '(No source)' : quote.source.name | highlighter:searchTerm" ></div>
                            </td>

                            <td *ngIf="quoteToEditId == quote.id" class="text-center">
                                    <input id="edit-source-input" #editSource type="text" class="au-input au-input-xl"
                                        placeholder="{{ quote.source == null ? '(No source)' : quote.source.name }}">
                            </td>

                            <td class="text-center">
                                <fa-icon *ngIf="quoteToEditId != quote.id" [icon]="faEdit" (click)="editQuote(quote.id)"></fa-icon>
                                <fa-icon *ngIf="quoteToEditId == quote.id" [icon]="faRefresh" (click)="updateQuote(quote.id)"></fa-icon>
                                <fa-icon [icon]="faTrashAlt" (click)="deleteQuote(quote.id)"></fa-icon>
                            </td>


                        </tr>
                    </tbody>

                </table>
            </div>
            
            <!-- if quotes empty then display a message, the '?' is the safe navigation operator -->
            <div *ngIf="quotes?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No quotes found.
            </div>

            <hr>

            <!-- pagination -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="row">


                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [maxSize]="5"
                                    [boundaryLinks]="true" [collectionSize]="totalElements"
                                    (pageChange)="listQuotes()"></ngb-pagination>

                                <div class="col-md-8 mt-2" style="text-align: right;">
                                    <span class="mr-2">Page Size:</span>

                                    <select #myPageSelect (change)="updatePageSize(+myPageSelect.value)">
                                        <option>5</option>
                                        <option selected="true">10</option>
                                        <option>20</option>
                                        <option>50</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>