<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

            <!--- Login/Logout -->
            <li>
                <app-login-status></app-login-status>
                <hr>
            </li>

            <!-- Self-service API Setup -->
            <li>
                <a routerLink="api-setup" routerLinkActive="active-link">Self-Service API Setup</a>
                <hr>
            </li>

            <!-- All Sources and sources without quotes-->
            <li>
                <app-source-navigation></app-source-navigation>
                <hr>
            </li>

            <!-- Export Quotes -->
            <li>
                <app-export></app-export>
                <hr>
            </li>

            <!-- Individual Sources-->
            <li>
                <app-source-menu></app-source-menu>
            </li>

        </ul>
    </nav>
</div>