<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <p>
                You can use your registration email and the following secret API number to access the API to post quotes from your iPhone or 3rd party app. Don't share this information with anyone.
            </p>

            <p>
                <strong>Secret API number for {{ email }}: {{ api_secret }}</strong> 
            </p>

            <h3>Setup</h3>

            <p>
                To setup the API, you will need to enter the following information into your app:
            </p>

            <!-- TODO -->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod, nisl eget ultricies aliquam, nunc nisl ultricies nunc, quis ultricie
            </p>

        </div>
    </div>
</div>